*.pyc
*.swo
*.swp
*~
examples/navigation/statick_example*
examples/sbpl/statick_example*
examples/werkzeug/statick_example*

statick_output

# from setup.py
build/
dist/
*.egg-info/

docs/_build

# From tests
.coverage
.pytest_cache
.tox
output-*/
