*.log
*.pyc
*.swo
*.swp
*~
examples/navigation/statick_example*
examples/sbpl/statick_example*
examples/werkzeug/statick_example*

statick_output

# from setup.py
build/
dist/
*.egg-info/
MANIFEST
requirements.txt

docs/_build

# From tests
.cache
.coverage
.mypy_cache
.pytest_cache
.tox
htmlcov
output-*/
tests/plugins/tool/clang-format_tool_plugin/_clang-format
tests/statick/statick-*
