dist: trusty
sudo: required
language:
  - generic
cache:
  - apt

notifications:
  email:
    on_failure: never

before_install:
  - sudo apt-get update
  - cat install.txt | xargs sudo apt-get install -y
    #- sudo apt-get install -y clang-3.9 clang-format-3.9 clang-tidy-3.9 flawfinder libxml2 pylint python-git python-yapsy findbugs
  - sudo pip install sphinx travis-sphinx

script:
  - mkdir statick_output
  - ./statick . statick_output --profile self_check.yaml
  - travis-sphinx build
    
after_success:
  - travis-sphinx deploy
