PyYAML
bandit
black
cmakelint
cpplint
deprecated
# Pin due to formatting conflict with black.
# https://github.com/PyCQA/docformatter/issues/94
docformatter==1.5.1
flawfinder
isort
lizard
mypy
pycodestyle
pydocstyle
pyflakes
pylint
pylint-django<2.0
ruff>=0.0.237
statick
tabulate
xmltodict
yamllint
